<?php include('vh.php'); ?>
/* Wall-1 */
.status-border-bottom-box1 {
	border-bottom: 1px dashed #CCCCCC;
}
.text-align-left {
	text-align: left;
}
.status-updater-box1 {
	border: 1px dashed #CDCDCD;
	background-color: #FFFFFF;
	border-radius: 3px;
}
.textarea1 {
	padding: 5px;
	outline: none;
	border-radius: 2px;
	border-color: #CDCDCD;
	resize: none;
	width: 292px;
	height: 40px;
	font-family: tahoma;
	font-size: 9pt;
	font-weight: normal;
}
.right-align-button1 {
	text-align: right;
}
.button1 {
	font-family: verdana;
	font-size: 9pt;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	color: #333333;
	font-weight: bold;
	background-color: #F8F8F8;
}




/* reg-userdash */
.header {
	background-image: url('<?=base_url()?><?=$ldr?>images/dashboard/header.png');
	background-repeat: no-repeat;
}
.slogan {
	text-align: right;
	font-family: georgia;
	font-style: italic;
	font-size: small;
}
.main {
	background-color: #FFFFFF;
	border-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-color: #CCCCCC;
}
.box {
	background-color: #E8E8E8;
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: dotted solid solid solid;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius:5px;
}
.georgia-large {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: large;
	font-style: italic;
}
.right-align-button1 {
	text-align: right;
}
.button1 {
	font-family: verdana;
	font-size: 9pt;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	color: #333333;
	font-weight: bold;
	background-color: #F8F8F8;
}
.area1 {
/* jQuery selected */
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.area2 {
/* jQuery selected */
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.login-failure-box {
	border: 1px solid #CCCCCC;
	background-color: #E8E8E8;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	text-align: center;
	border-radius: 3px;
}
.mainAreaStyle1 {
	border-left: 2px solid #458845;
	border-right: 2px solid #458845;
	background-image: url('<?=base_url()?><?=$ldr?>images/dashboard/main12.png');
	background-color: #F4FFF4;
	border-top-color: #CCCCCC;
	border-top-width: 1px;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
}
.font1 {
	font-family: tahoma;
	font-size: 10pt;
	font-weight: normal;
}
.textarea1 {
	padding: 5px;
	outline: none;
	border-radius: 2px;
	border-color: #CDCDCD;
	resize: none;
	width: 292px;
	height: 40px;
	font-family: tahoma;
	font-size: 9pt;
	font-weight: normal;
}
.font2 {
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
}
.taskbar {
	background-color: #F4FFF4;
	padding: 3px;
	font-family: tahoma;
	font-size: 10pt;
	position: fixed;
	bottom: 0px;
	border-width: 3px;
	border-color: #FF9900;
	border-top-style: solid;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	right: 20%;
	left: 20%;
	border-right-style: solid;
}
.notification-panel {
	margin-right: 0px;
}
.notificationalNumber {
	color: #D03434;
	font-family: Tahoma;
	font-size: 10pt;
}
.NotificationText {
	font-family: Tahoma;
	font-size: 10pt;
}
.textbox1 {
	font-family: tahoma;
	font-size: 8pt;
	border: 1px solid #C7C7C7;
	outline: none;
	padding: 3px;
	resize: none;
}
.leftAlign1 {
	text-align: left;
}
.linkText {
/* user list sector */
	color: #3F32D0;
}
.link-font1 {
	font-family: Tahoma;
	font-size: 9pt;
	color: #3366CC;
	text-decoration: none;
}